# Sandbox

In [2]:
%load_ext autoreload
%autoreload 2
%matplotlib inline
import sys
sys.path.append("../")

In [13]:
import Blockade

In [23]:
from itertools import islice

In [38]:
ptt_path = Blockade.get_resource_path('corpus', 'ptt.mongo.20190514.dump.gz')

In [39]:
ptt = Blockade.PttCorpus(ptt_path)

In [25]:
from datetime import datetime

In [26]:
datetime.fromtimestamp(0)

datetime.datetime(1970, 1, 1, 8, 0)

In [52]:
stat = ptt.getStatistics()
stat.to_csv(str(ptt_path).replace('.gz', '.csv'))
stat

100%|█████████████████████████████████████████████████████████████████████████████████████▋| 81480/81728 [00:32<00:00, 2415.36it/s]

Parse failed: 61

100%|██████████████████████████████████████████████████████████████████████████████████████| 81728/81728 [00:32<00:00, 2527.74it/s]

              n_article  n_comments  nchar_post  nchar_comments                  t0                  t1
Gossiping         16820      232525     4410932         2440495 2019-04-27 20:43:15 2019-05-06 00:33:12
NTU               21292      211866     6504153         2167031 2014-12-30 02:59:52 2019-11-23 14:14:33
sex                9019      128871     5751423         1107208 1997-09-14 00:34:19 2019-11-23 18:44:32
movie               888       17382      344722          216679 2019-04-29 18:43:47 2019-05-06 00:32:32
WomenTalk          3966       58665      923012          649923 2019-04-06 14:46:32 2019-05-06 00:11:31
Boy-Girl           1583       29767      801447          376427 2019-03-14 10:49:25 2019-05-06 00:28:33
HatePolitics      28160      623420     8509977         8332837 2019-03-09 09:03:48 2020-05-03 08:16:22

In [59]:
gart = list(ptt.getArticles("Gossiping"))

Parse failed: 61

In [60]:
len(gart)

16820

In [68]:
Blockade.utils.keep_cjk(gart[4]["content"])

'這個年頭，不論是高中高職綜高還是五專，大家都在努力地拼升學率，好像升學率能夠吸引學生跟家長前來就讀一般。但是有些清流學校，堅持不拼升學率，反而是生育率表現亮眼，在深受少子化衝擊的台灣，這根本就是佛心學校。有沒有生育率大於升學率的學校的八卦？七瀬、卒業！！'

In [102]:
from Blockade.vectors import CwnNodeVec
from Blockade.vectors import CharacterVectors

In [79]:
node_vec = CwnNodeVec('homophily')

load CwnNodeVec from cache:  ..\Blockade\vectors\..\..\resources\cwn_node_vec_homophily.pkl

In [131]:
cv = CharacterVectors.from_CwnNodeVec(node_vec)

write CharacterVectors to cache:  E:\LangOn\Blockade\data\cache_charac_vec\charac_vec_nodevec.pkl

In [132]:
cv.vectors.shape

(3834, 100)

In [135]:
import torch
import torch.nn as nn

In [133]:
embed = nn.Embedding(cv.shape[0], cv.shape[1], padding_idx=cv.vectors.shape[0]-1)

In [144]:
embed.weight = nn.Parameter(torch.from_numpy(cv.vectors))
embed.weight.requires_grad = False

In [148]:
embed(torch.LongTensor(cv.encode("你好嗎"))).shape

torch.Size([3, 100])